@{
  Layout = "_Layout";
}

@using OrderTracker.Models;
<h1>Add a Vendor</h1>
<p>Add a vendor by filling out the input fields below and clicking Add.</p>
<form action="/vendors" method="post">
  <label for="enteredName">Vendor Name</label>
  <input id="enteredName" name="enteredName" type="text" required>
  <br>
  <label for="enteredDescription">Vendor Description</label>
  <input id="enteredDescription" name="enteredDescription" type="text" required>
  <br>
  <button type="submit">Add</button>
</form>
<p><a href="/vendors">Back to Vendors List</a></p>
<br>
<p><a href='/'>Back to home page</a></p> 
