@{
  Layout = "_Layout";
}

@using OrderTracker.Models;
<h1>List of Orders from this Vendor:</h1>
<h5>@Model["vendor"].Name</h5>
@if(@Model["orders"].Count == 0)
{
  <p>There are no orders yet from this vendor.</p>
}
else 
{
  <ul>
    @foreach(Order entry in @Model["orders"])
    {
      <li>@entry.Title <a href='/vendors/@Model["vendor"].Id/orders/@entry.Id'>View Details</a></li>
    }
  </ul>
}
<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add an Order</a></p>
<p><a href="/vendors">Back to Vendors List</a></p>