@{
  Layout = "_Layout";
}

@using OrderTracker.Models;
<div class="jumbotron">
<h1>Add a New Order to Vendor - @Model.Name:</h1>
</div>
<form action="/vendors/@Model.Id/orders" method="post">
  <div class="form-group">
    <label for="orderTitle" class="form-label mt-4">Order Title:</label>
    <input id="orderTitle" class="form-control" name="orderTitle" type="text" required>
  </div>
  <div class="form-group">
    <label for="orderDescription" class="form-label mt-4">Order Description:</label>
    <input id="orderDescription" class="form-control" name="orderDescription" type="text" required>
  </div>
  <div class="form-group">
    <label for="orderPrice" class="form-label mt-4">Order Price:</label>
    <input id="orderPrice" class="form-control" name="orderPrice" type="number" required>
  </div>
  <div class="form-group">
    <label for="orderDate" class="form-label mt-4">Order Date:</label>
    <input id="orderDate" class="form-control" name="orderDate" type="text" required>
  </div>
  <br>
  <button type="submit" class="btn btn-secondary">Add Order</button>
</form>

<p><a href="/vendors">Back to Vendors List</a></p>

