@{
  Layout = "_Layout";
}

@using OrderTracker.Models;
<h1>Order Details:</h1>
<h3>@Model["order"].Title</h3>
<p>Description: @Model["order"].Description</p>
<p>Price: @Model["order"].Price</p>
<p>Date: @Model["order"].Date</p>
<br>
<p><a href="/vendors">Back to Vendors List</a></p>
<br>
<p><a href='/'>Back to home page</a></p>
